---
import Layout from "../../layouts/Layout-appli.astro";
---

<Layout>
    <div class="flex w-full flex-col items-center justify-center pb-20 text-center">
        <h1>Ravie de te revoir</h1>
        <h2>Prêt pour une nouvelle leçon ?</h2>
        <button class="bg-red-700 py-1 px-8 text-white mt-9 mb-12 ">
            Commençer
        </button>
    </div>
    <div>
        <h2>Objectifs du jour</h2>
    </div>
</Layout>
