---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import lunaImage from "../assets/image/luna.webp";
import charlotteImage from "../assets/image/charlotte.webp";
import yanisImage from "../assets/image/yanis.webp";
---

<Layout>
    <main style="background-color: var(--color-creme)">
        <h1 class="text-center">Notre projet</h1>
        <p class="m-2">
            Nous réalisons ce projet dans le cadre de nos études au département
            MMI. Notre projet, une application pour apprendre la langue des
            signes française, est conçu pour un apprentissage simple et ludique.
            Ce projet prône l'accessibilité et l'inclusion.
        </p>
        <div class="bg-red-700">
            <h3 class="text-center text-white">L'équipe</h3>
            <div class="flex flex-col lg:flex-row">
                <div
                    class="flex flex-row items-center lg:flex-col lg:flex-1 p-2"
                >
                    <Image
                        src={lunaImage}
                        alt="Luna Gouraud"
                        class="h-20 w-20 lg:h-40 lg:w-40 rounded-full mr-4 lg:mx-auto"
                    />
                    <div class="text-left lg:text-center">
                        <p class="text-white p-2 m-0">
                            <b>Luna Gouraud</b><br />06 25 32 41 08<br
                            />luna.gouraud@gmail.com
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-row items-center lg:flex-col lg:flex-1 p-2"
                >
                    <Image
                        src={charlotteImage}
                        alt="Charlotte Mettetal"
                        class="h-20 w-20 lg:h-40 lg:w-40 rounded-full mr-4 lg:mx-auto"
                    />
                    <div class="text-left lg:text-center">
                        <p class="text-white p-2 m-0">
                            <b>Charlotte Mettetal</b><br />07 71 85 45 23<br
                            />charlotte.mettetal.07@gmail.com
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-row items-center lg:flex-col lg:flex-1 p-2"
                >
                    <Image
                        src={yanisImage}
                        alt="Yanis Chouhib"
                        class="h-20 w-20 lg:h-40 lg:w-40 rounded-full mr-4 lg:mx-auto"
                    />
                    <div class="text-left lg:text-center">
                        <p class="text-white p-2 m-0">
                            <b>Yanis Chouhib</b><br />07 47 12 32 66<br
                            />yanis.forster@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
