---
import Hero from "../components/hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Hero />
    <section class="bg-creme py-10">
        <div class="grille items-start">
            <div
                class="col-span-full flex flex-row justify-around items-start w-full lg:grid lg:grid-cols-12 lg:gap-0"
            >
                <div class="flex-1 lg:col-start-2 lg:col-span-4 text-center">
                    <p
                        class="font-title text-smalld lg:text-h3d leading-none mb-2"
                    >
                        400 000
                    </p>
                    <p
                        class="font-title text-smalld lg:text-body2d leading-tight"
                    >
                        personnes en ont besoin
                    </p>
                </div>

                <div class="flex-1 lg:col-start-8 lg:col-span-4 text-center">
                    <p
                        class="font-title text-smalld lg:text-h3d leading-none mb-2"
                    >
                        100 000
                    </p>
                    <p
                        class="font-title text-smalld lg:text-body2d leading-tight"
                    >
                        personnes la <br class="hidden lg:block" /> pratique
                    </p>
                </div>
            </div>

            <div
                class="col-span-full lg:col-start-1 lg:col-span-12 mt-10 px-4 lg:px-0"
            >
                <p
                    class="font-sans text-mobile lg:text-body3d leading-relaxed text-left lg:text-left"
                >
                    Comblez le fossé de la communication. Apprenez la Langue des
                    Signes Française (LSF) de manière simple, visuelle et
                    intuitive. C'est ce que Tacita vous propose. Ainsi en
                    apprenant la LSF, vous vous donnez une chance de comprendre
                    et de communiquer avec des sourds, muets et malentendants.
                </p>
            </div>
        </div>
    </section>

    <section class="bg-red-800 pt-20 pb-8 px-6 lg:px-0">
        <div class="grille flex flex-col gap-4 lg:grid lg:gap-y-0">
            <div
                class="col-span-full lg:col-start-1 lg:col-span-12 mb-4 lg:mb-16"
            >
                <h2
                    class="font-title text-white text-center text-body2d lg:text-h3d"
                >
                    Nos fonctionnalités
                </h2>
            </div>

            <div
                class="col-span-full lg:col-start- lg:col-span-3 bg-creme rounded-2xl p-5 lg:p-8 shadow-xl flex flex-col gap-2 lg:gap-4 h-full"
            >
                <h3
                    class="font-title text-smalld lg:text-3xl text-center border-b border-rose-950/10 pb-2 lg:pb-4"
                >
                    Kit de survie
                </h3>
                <p class="font-sans text-base lg:text-xl leading-relaxed">
                    Un kit payant qui résume les leçons.<br
                        class="hidden lg:block"
                    />
                    Un kit gratuit qui regroupe les gestes de bases. En cas de trous
                    de mémoire.
                </p>
            </div>

            <div
                class="col-span-full lg:col-start-5 lg:col-span-3 bg-creme rounded-2xl p-5 lg:p-8 shadow-xl flex flex-col gap-2 lg:gap-4 h-full"
            >
                <h3
                    class="font-title text-smalld lg:text-3xl text-center border-b border-rose-950/10 pb-2 lg:pb-4"
                >
                    Mini-jeux
                </h3>
                <p class="font-sans text-base lg:text-xl leading-relaxed">
                    4 mini-jeux au choix : associations, quiz, memori et trouver
                    l’intru qui viennent compléter les cours
                </p>
            </div>

            <div
                class="col-span-full lg:col-start-9 lg:col-span-3 bg-creme rounded-2xl p-5 lg:p-8 shadow-xl flex flex-col gap-2 lg:gap-4 h-full"
            >
                <h3
                    class="font-title text-smalld lg:text-3xl text-center border-b border-rose-950/10 pb-2 lg:pb-4"
                >
                    Missions
                </h3>
                <p class="font-sans text-base lg:text-xl leading-relaxed">
                    Chaque jour, de nouvelles missions et récompenses seront
                    disponibles
                </p>
            </div>
        </div>
    </section>

    <section class="bg-red-800 pt-8 pb-20 px-6 lg:px-0">
        <div class="grille lg:grid lg:gap-y-10">
            <div
                class="col-span-full lg:col-start-1 lg:col-span-12 text-center flex flex-col gap-4 lg:gap-6 mb-8 lg:mb-0"
            >
                <h2 class="font-title text-white text-body2d lg:text-h3d">
                    Nos offres
                </h2>
                <h3 class="font-family text-white text-smalld lg:text-body2d">
                    Abonnements
                </h3>
            </div>

            <div
                class="col-span-full flex flex-row justify-center gap-3 w-full mb-8 lg:mb-0 lg:contents"
            >
                <div
                    class="flex-1 w-full max-w-40 lg:max-w-xs lg:col-start-3  lg:col-span-4 bg-creme rounded-2xl p-3 lg:p-8 shadow-xl flex flex-col items-center justify-center text-center h-full hover:scale-105 transition-transform duration-300 cursor-pointer"
                >
                    <h4
                        class="font-body font-bold text-mobile lg:text-smalld mb-2 lg:mb-6 leading-snug"
                    >
                        <span class="block">Premium</span>
                        <span class="block">1 mois</span>
                    </h4>
                    <p
                        class="font-body text-mobile lg:text-smalld leading-snug"
                    >
                        <span class="block">5,99€</span>
                        <span class="block">par mois</span>
                    </p>
                </div>

                <div
                    class="flex-1 w-full max-w-40 lg:max-w-xs lg:col-start-7 lg:col-span-4 bg-creme rounded-2xl p-3 lg:p-8 shadow-xl flex flex-col items-center justify-center text-center h-full hover:scale-105 transition-transform duration-300 cursor-pointer"
                >
                    <h4
                        class="font-body font-bold text-mobile lg:text-smalld mb-2 lg:mb-6 leading-snug"
                    >
                        <span class="block">Premium</span>
                        <span class="block">à l’année</span>
                    </h4>
                    <p
                        class="font-body text-mobile lg:text-smalld leading-snug"
                    >
                        <span class="block">59,99€</span>
                        <span class="block">pour 12 mois</span>
                    </p>
                </div>
            </div>

            <div
                class="col-span-full lg:col-start-3 lg:col-span-9 mb-8 lg:my-6"
            >
                <p class="font-body text-white lg:text-smalld leading-relaxed">
                    Passer en mode premium vous permet de ne plus avoir de pub,<br
                        class="hidden lg:block"
                    />
                    jouer en illimité, modifier l’interface et pleins d’autres choses.
                </p>
            </div>

            <div
                class="col-span-full lg:col-start-1 lg:col-span-12 text-center mb-6 lg:mb-0"
            >
                <h3 class="font-family text-white text-2xl lg:text-3xl">
                    Kits de survie téléchargeables
                </h3>
            </div>

            <div
                class="col-span-full flex flex-row justify-center gap-3 w-full lg:contents"
            >
                <div
                    class="flex-1 w-full max-w-[160px] lg:max-w-none lg:col-start-3 lg:col-span-4 bg-creme rounded-2xl p-3 lg:p-8 shadow-xl flex flex-col items-center justify-center text-center h-full hover:scale-105 transition-transform duration-300 cursor-pointer"
                >
                    <h4
                        class="font-body font-bold text-lg lg:text-2xl mb-2 lg:mb-6"
                    >
                        Gratuit
                    </h4>
                    <p class="font-body text-sm lg:text-xl leading-snug">
                        Pour retrouver un résumé de vos leçons
                    </p>
                </div>

                <div
                    class="flex-1 w-full max-w-40 lg:max-w-none lg:col-start-7 lg:col-span-4 bg-creme rounded-2xl p-3 lg:p-8 shadow-xl flex flex-col items-center justify-center text-center h-full hover:scale-105 transition-transform duration-300 cursor-pointer"
                >
                    <h4
                        class="font-body font-bold text-lg lg:text-2xl mb-2 lg:mb-6"
                    >
                        3,99€
                    </h4>
                    <p
                        class="font-body text-sm lg:text-xl leading-snug mt-auto"
                    >
                        Pour retrouver tous les signes de bases
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-creme py-10 lg:py-20 px-6 lg:px-0" id="contact">
        <div class="grille items-center">
            <div
                class="col-span-full lg:col-start-4 lg:col-span-6 flex flex-col gap-10"
            >
                <h2 class="font-title text-body2d lg:text-h3d text-center">
                    Contact
                </h2>

                <form action="#" method="POST" class="flex flex-col gap-6">
                    <div class="flex flex-col gap-2">
                        <label
                            for="prenom"
                            class="font-sans text-xl font-medium">Prénom</label
                        >
                        <input
                            type="text"
                            id="prenom"
                            name="prenom"
                            placeholder="Ex : Léon"
                            class="bg-white border border-slate-300 rounded-lg h-14 px-4 font-sans text-lg placeholder:text-slate-300 focus:ring-1 focus:ring-red-800 outline-none transition-all"
                        />
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="nom" class="font-sans text-xl font-medium"
                            >Nom</label
                        >
                        <input
                            type="text"
                            id="nom"
                            name="nom"
                            placeholder="Ex : Marchand"
                            class="bg-white border border-slate-300 rounded-lg h-14 px-4 font-sans text-lg placeholder:text-slate-300 focus:ring-1 focus:ring-red-800 outline-none transition-all"
                        />
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="email" class="font-sans text-xl font-medium"
                            >Email</label
                        >
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Ex : leon.marchand@gmail.com"
                            class="bg-white border border-slate-300 rounded-lg h-14 px-4 font-sans text-lg placeholder:text-slate-300 focus:ring-1 focus:ring-red-800 outline-none transition-all"
                        />
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="objet" class="font-sans text-xl font-medium"
                            >Objet</label
                        >
                        <input
                            type="text"
                            id="objet"
                            name="objet"
                            placeholder="Ex : kit de survie"
                            class="bg-white border border-slate-300 rounded-lg h-14 px-4 font-sans text-lg placeholder:text-slate-300 focus:ring-1 focus:ring-red-800 outline-none transition-all"
                        />
                    </div>

                    <div class="flex flex-col gap-2">
                        <label
                            for="message"
                            class="font-sans text-xl font-medium">Message</label
                        >
                        <textarea
                            id="message"
                            name="message"
                            class="bg-white border border-slate-300 rounded-lg h-48 p-4 font-sans text-lg focus:ring-1 focus:ring-red-800 outline-none transition-all resize-none"
                        ></textarea>
                    </div>

                    <div class="flex justify-center mt-4">
                        <button
                            type="submit"
                            class="bg-red-800 hover:bg-rose-950 text-white font-sans font-medium text-xl py-4 px-16 rounded-lg transition-all shadow-md active:scale-95"
                        >
                            Envoyer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</Layout>
