---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main style="background-color: var(--color-creme)">
        <h1 class="text-center">Mentions légales</h1>
        <h4 class="text-red-700 m-2">Éditeur</h4>
        <p class="m-2">
            Tacita, projet étudiant du département des Métiers du Multimédia et de l'Internet (MMI), 4 place Lucien Tharradin, 25200
            Montbéliard.
        </p>
        <h4 class="text-red-700 m-2">Hébergement du site</h4>
        <p class="m-2">
            Le site est hébergé par Netlify, une entreprise américano-danoise.
        </p>
        <h4 class="text-red-700 m-2">Créateurs</h4>
        <p class="m-2">Luna Gouraud, Yanis Chouhib et Charlotte Mettetal.</p>
        <h4 class="text-red-700 m-2">Directeur de la publication</h4>
        <p class="m-2">Luna Gouraud.</p>
        <h4 class="text-red-700 m-2">CGU</h4>
        <p class="m-2">
            Notre application a pour objectif l'apprentissage de la LSF.
            <br />Les images présentes sur notre application ont été réalisé par
            nos propres soins. Par conséquent, vous ne pouvez pas les copier et
            les diffuser, sous peine de poursuites judiciaires.
            <br />Clause de non-responsabilité pédagogique : si vous interprétez
            mal un signe, nous ne pouvons être tenus responsables.
            <br />Notre application dispose d'une version gratuite avec des
            fonctionnalités de bases et d'une version payante avec des
            fonctionnalités avancées. Nous disposons aussi de deux kits de
            survie téléchargeable : un gratuit et un payant.
            <br />Si vous souhaitez désinstaller l'application, vous devez
            supprimer votre compte.
            <br />Votre résiliation d'abonnement se fait gratuitement.
        </p>
        <h4 class="text-red-700 m-2">CVG</h4>
        <p class="m-2">
            Pour l'achat des abonnements et du kit de survie, votre achat sera
            sécurisé et se fera uniquement par carte bancaire. Vos données
            bancaires seront cryptées et ne transiteront jamais par nos
            serveurs. Vous achetez des abonnements avec des fonctionnalités
            supérieures comme la suppression de publicités, des contenus
            exclusifs. Les abonnements sont sans engagements et résiliables à
            tous moments. Notre kit de survie payant regroupe tous les signes de
            base.
        </p>
        <h4 class="text-red-700 m-2">RGPD & cookies</h4>
        <p class="m-2">
            Vous avez la possibilités d'accepter ou de refuser nos cookies. Ces
            cookies sont conservés durant treize mois. Ils seront utilisés pour
            améliorer notre application, suivre votre évolution dans
            l'apprentissage, vous permettre de rester connecté, connaître vos
            préférences et savoir quel jeu est le plus joué. Les cookies qui
            sont collectés sont :
            <br /> - cookies essentiels
            <br /> - cookies analytiques
            <br /> - cookies de personnalisation
        </p>
        <h4 class="text-red-700 m-2">Politique de confidentialité</h4>
        <p class="m-2">Nous collectons vos données personnelles tels que votre nom, prénom, âge, civilité et e-mail pour toute la durée de votre présence sur notre application. 
            Vous pouvez à tous moment accéder, rectifier ou supprimer vos données personnelles. Vos données ne seront pas vendu à un tiers. 
        </p>
    </main>
</Layout>
