---
import Home from '../assets/icon/Home_icon.svg';
import Play from '../assets/icon/Play_icon.svg';
import Lecon from '../assets/icon/Lecon_icon.svg';
import Profil from '../assets/icon/Profil_icon.svg';
---


<footer class="fixed bottom-0 w-full">
    <div class="relative h-15 w-full px-3">
        <div class="relative flex h-15 justify-center gap-5 sm:gap-7.75 z-10">
            <div class="flex h-15 w-15 items-center justify-center rounded-full bg-rose-950"><Home/></div>
            <div class="flex h-15 w-15 items-center justify-center rounded-full bg-rose-950"><Play/></div>
            <div class="flex h-15 w-15 items-center justify-center rounded-full bg-rose-950"><Lecon/></div>
            <div class="flex h-15 w-15 items-center justify-center rounded-full bg-rose-950"><Profil/></div>
        </div>
        <div class="absolute bottom-0 left-0 right-0 h-9.5 bg-rose-950 z-0"></div>
    </div>
</footer>
