---
---


<footer class="fixed bottom-0 w-full">
    <div class="relative h-15 max-w-[393px]">
        <div class="flex h-15 justify-center gap-7.75">
            <div class="h-15 w-15 rounded-full bg-rose-950"></div>
            <div class="h-15 w-15 rounded-full bg-rose-950"></div>
            <div class="h-15 w-15 rounded-full bg-rose-950"></div>
            <div class="h-15 w-15 rounded-full bg-rose-950"></div>
        </div>
        <div class="absolute bottom-0 h-9.5 w-full bg-rose-950"></div>
    </div>
</footer>