---

---
<footer class="max-h-86 bg-rose-950 text-white">
    <div class="flex items-center justify-center gap-54 py-6 text-center">
        <a>Accueil</a>
        <a>À propos</a>
        <a>Mentions légales</a>
    </div>
    <div class="mx-auto h-px w-11/12 bg-white"></div>
    <div>
        <div>
            <p class="font-bold text-body3d">Nous contacter</p>
        </div>
        <div>
            <ul>
                <li>
                    <p>+33 3 84 71 19 48</p>
                </li>
                <li>
                    <p>tacita@gmail.com</p>
                </li>
            </ul>
        </div>
        <div>
            Projet réalisé en 2026 dans le cadre d’un exercice pédagogique au département MMI de Montbéliard.
        </div>
    </div>
</footer>