---
import logo from "../assets/logo.svg";
---

<header class="bg-rose-950 text-white py-4 px-4 max-h-30">
    <div
        class="w-full max-w-7xl mx-auto grid grid-cols-12 gap-x-4 items-center"
    >
        <div class="col-start-1 col-span-2">
            <a href="/">
                <img src="/logo.svg" alt="Logo Tacita" class="h-16 w-auto" />
            </a>
        </div>

        <div class="col-start-3 col-span-2">
            <a
                href="/"
                class="hover:text-rose-200 transition-colors whitespace-nowrap"
            >
                Accueil
            </a>
        </div>

        <div class="col-start-5 col-span-2">
            <a
                href="/a-propos"
                class="hover:text-rose-200 transition-colors whitespace-nowrap"
            >
                À propos
            </a>
        </div>

        <div class="col-start-10 col-span-3 flex justify-end">
            <a
                href="/inscription"
                class="bg-red-800 hover:bg-red-700 text-white px-8 py-2 rounded-full font-bold shadow-lg transition-all whitespace-nowrap"
            >
                Inscription
            </a>
        </div>
    </div>
</header>
