---
import Logo from "../assets/icon/logo.svg";
---

<header class="bg-rose-950 text-white pb-4 pt-12 lg:pt-4 px-4">
    <div
        class="w-full max-w-7xl mx-auto grid grid-cols-12 gap-x-4 items-center"
    >
        <div class="col-start-1 col-span-2">
            <a href="/">
                <Logo class="h-10 w-auto lg:h-20" />
            </a>
        </div>

        <div class="col-start-3 col-span-2">
            <a
                href="/"
                class="hover:text-rose-200 transition-colors whitespace-nowrap font-body lg:text-body3d text-mobile"
            >
                Accueil
            </a>
        </div>

        <div class="col-start-5 col-span-2">
            <a
                href="/a-propos"
                class="hover:text-rose-200 transition-colors whitespace-nowrap font-body lg:text-body3d text-mobile"
            >
                À propos
            </a>
        </div>

        <div class="col-start-10 col-span-3 flex justify-end">
            <a
                href="/inscription"
                class="bg-red-800 hover:bg-red-700 text-white px-4 py-1 text-sm lg:px-10 lg:py-3 lg:text-lg rounded-full font-bold shadow-lg transition-all whitespace-nowrap"
            >
                Inscription
            </a>
        </div>
    </div>
</header>
